
.btn-w{
    padding: 6px 10px;
    border-radius: 8px;
    border:none;
    box-shadow: rgba(110, 110, 110, 0.06) 0px 1px 3px .6px, rgba(127, 131, 135, 0.2) 0px 0px 0px .6px;
    background: linear-gradient(#fff, var(--slate-200));
    color: var(--bs-gray-700);
    height: 38px!important;
    text-transform: uppercase;
    /*font-weight: bold;*/
    /*margin-right: 20px;*/
}

.btn-w:hover{
    color: var(--bs-gray-800);
    background-image: linear-gradient(#fff, var(--slate-300));
}





.primary{
    padding: 7px 10px;
    background: linear-gradient(180deg, #014063 20%, #015887 51%,  #017FC0 100%);
    color: white;
    box-shadow: none;
}

.primary:hover{
    background: linear-gradient(180deg, #017FC0 10%, #015887 51%, #014063 100%);
    color: white;
}

.primary-out{
    color: var(--primary-color);
    box-shadow: var(--primary-color) 0px 0px 0px 1.4px;
    height: 36px!important;

}





.secondary{
    padding: 7px 10px;
    background: linear-gradient(180deg, var(--slate-700) 20%, var(--slate-600) 51%,  var(--slate-400) 100%);
    color: white;
    box-shadow: none;
}

.secondary:hover{
    background: linear-gradient(0deg, var(--slate-700) 20%, var(--slate-600) 51%,  var(--slate-400) 100%); 
    color: white;
    box-shadow: none;
}

.secondary-out{
    color: var(--slate-700);
    box-shadow: var(--slate-700) 0px 0px 0px 1.4px;
    height: 36px!important;
    background-image: linear-gradient(#fff, var(--slate-250));
}






.success{
    padding: 7px 10px;
    background: linear-gradient(0deg, var(--jade-300) 20%, var(--jade-200) 51%,  var(--jade-100) 100%);
    color: white;
    box-shadow: none;
}

.success:hover{
    background: linear-gradient(180deg, var(--jade-300) 20%, var(--jade-200) 51%,  var(--jade-100) 100%); 
    color: white;
    box-shadow: none;
}

.success-out{
    color: var(--jade-400);
    box-shadow: var(--jade-400) 0px 0px 0px 1.6px;
    height: 36px!important;
}

.success-out:hover{
    background: linear-gradient(0deg, var(--jade-300) 20%, var(--jade-200) 51%,  var(--jade-100) 100%); 
    color: white;
    box-shadow: none;
}










.danger{
    padding: 7px 10px;
    background: linear-gradient(0deg, var(--red-600) 20%, var(--red-500) 51%,  var(--red-350) 100%);
    color: white;
    box-shadow: none;
}

.danger:hover{
    background: linear-gradient(180deg, var(--red-600) 20%, var(--red-500) 51%,  var(--red-350) 100%); 
    color: white;
    box-shadow: none;
}

.danger-out{
    color: var(--red-500);
    box-shadow: var(--red-500) 0px 0px 0px 1.6px;
    height: 36px!important;
}

.danger-out:hover{
    background: linear-gradient(0deg, var(--red-600) 20%, var(--red-500) 51%,  var(--red-350) 100%); 
    color: white;
    box-shadow: none;
}














.btn-warning{

}

.btn-info{

}




.dark{
    padding: 7px 10px;
    background-color: var(--slate-700);
    color: white;
    box-shadow: none;
}

.dark:hover{
    background-color: var(--slate-600); 
    color: white;
    box-shadow: none;
}



























.btnContainer{
    display: flex;
    margin-bottom: 9px;
    padding-top:9px;
}

.sb{
    width: 100%;
    margin-top: 12px; 
    margin-bottom: 7px;
}

/* Submit Edit Button */
.seb{ 
    width: 100%!important;
    margin-right: 20px;
    margin-top: 20px;
}


/* submit Cancelar Button */
.scb{
    width: 100%!important;
    margin-top: 20px;
    margin-bottom: 16px;
}


@media(max-width: 575px){
    .scb{
        margin-top: 44px;
    }
    .btnContainer{
        flex-direction: column;
    }
    .seb{ 
        margin-top: 20px;
    }
}




                {/* <button className='btn-w primary'>Primary</button>
                    <button className='btn-w primary-out'>Primary-out</button>

                    <button className='btn-w secondary'>Secondary</button>
                    <button className='btn-w secondary-out'>Secondary-out</button>

                    <button className='btn-w success'>Success</button>
                    <button className='btn-w success-out'>Success-out</button>

                     <button className='btn-w danger'>Danger</button>
                    <button className='btn-w danger-out'>Danger-out</button>*/}





/*@media(max-width: 1000px){
        .sectionControls{
                flex-direction: column;
        }
        .sectionControls>button{
            margin-bottom: 20px;
        }
        
}*/