.customAlert {
  text-align: center !important;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  margin-top: 100px;
}

.alertContainer {
    margin-top: 50px;
}

@media (max-width: 800px) {
  .alertContainer {
    width: 100% !important;
  }
}

.swal2-timer-progress-bar {
  background-color: rgb(167, 219, 138);
}

/*swal2-popup  swal2-icon-success */

.swal2-toast{
    outline:2px rgb(167, 219, 138) solid!important;
    outline-offset:-1px!important;
}













.modalColors {
  background-color: var(--bg-color) !important;
  color: var(--slate-700);
  text-transform: uppercase;
}

.modal-btn-x {
  font-size: 18px;
  margin-right: 8px;
  cursor: pointer;
}

.modal-title {
  margin-right: auto;
  margin-left: 8px;
}


















.list {
  display: block;
  padding: 20px 24px;
  width: 90%;
  margin-left: 5%;
  margin-bottom: 20px;
  background-color: white;
  box-shadow: rgba(10, 110, 255, 0.07) 0px 30px 60px -12px, rgba(0, 0, 0, 0.2) 0px 18px 36px -18px;
}





/* assignations h5 de arriba */
.list > h5,
/* h3 de arriba */
.list > h3,
.list > p,
/* p de adentro  */
.accordion-body > div> p {
  text-transform: capitalize;
  color: var(--slate-700);
}


/* assignations b de arriba  */
.list > h5 > b,
/* span de arriba  */
.list > h3 > span,
.list > p > span,
/* span de adentro */
.accordion-body > div > p > span {
  font-weight: 200;
  text-transform: none;
  color: var(--slate-600);
}











.accordion{
  margin-bottom: 7px!important;
  margin-top: 18px;
}

.accordion-button{
  background-color: var(--azure-50);

}

.accordion-button:focus{
  background-color: var(--azure-50);
  box-shadow: none;
}











/* AssignationsForm */
.assignationsSelect>div{
    background-color: white;
    padding-left: 10px;
    padding-right: 6px;
    text-transform: capitalize;
    padding-top: 8px;
    margin-bottom: 10px;
    border: 1px solid var(--slate-100);
}

.assignationsSelect>div > p > {
  text-transform: none;
  color: var(--slate-700);
}

.assignationsSelect>div > p > b {
  font-weight: 200;
  text-transform: none;
  color: var(--slate-600);
}
















/*  Assignations.tsx  */

.assignationsContent{
    display: flex;
    flex-direction: column;
}

.assignationsContent>div{
    display: flex;
    justify-content: space-between;
}

.assignationsContent>div>div{
    width:32.25% ;
    padding-left: 8px;
    margin: 4px 0;
    border-right:1px solid var(--slate-150);
    text-transform: capitalize;
}

.assignationsContent>div>div:last-of-type{
    border-right: none;
}

/* titulo de acordion */
.assignationsContent > div >div > h3 {
  font-weight: 400;
  text-transform: none;
  color: var(--slate-650);
}

.assignationsContent > div > div > p{
  color: var(--slate-700);
}

.assignationsContent > div >div > p > b {
  font-weight: 200;
  text-transform: none;
  color: var(--slate-600);
}


.btns-Assignations{
  justify-content: start!important;
  margin: 12px 0 4px 0;
  border-top: 1px solid var(--slate-150);
  padding-top: 20px;
}



@media(max-width: 999px){
    .assignationsContent>div{
      flex-direction: column;
    }
    .assignationsContent>div > div{
      width: 100%;
      border-right: none;
      border-bottom:1px solid var(--slate-150);
      padding-top: 8px;
      padding-bottom: 9px;
    }
     .assignationsContent>div > div:last-of-type{
      padding-bottom: 0;
        border-bottom: none;
     }
    .assignationsContent>div>div:first-child{
      padding-top: 0;
    }

    .btns-Assignations{
      flex-direction: row!important;
    }
}




















.AC-logo {
  width: 80%;
  margin-left: 20%;
}

@media (max-width: 992px) {
  .AC-logo {
    margin-left: 10%;
  }
}

@media (min-width: 992px) {
  .AC-logo {
    margin-top: 9%;
  }
}

@media (min-width: 1200px) {
  .AC-logo {
    margin-top: 7%;
  }
}

@media (min-width: 1400px) {
  .AC-logo {
    margin-top: 6.5%;
  }
}
