@import url("./assets/css/buttons.css");
@import url("./assets/css/vars.css");
@import url("./assets/css/styles.css");


html {
  background-color: var(--bg-color) !important;
}

body {
  background-color: none;
     margin: 0;
}

#root {
}

.appContariner {
  min-height: 100dvh;
  margin-top: 50px;
  background-color: var(--bg-color) !important;
}


input[type="text"],
input[type="password"],
input[type="email"] {
  border-radius: 0px;
  text-transform: capitalize;
}

input[type="text"]::placeholder{
  opacity: .7;
}

form > div > label {
  color: var(--zinc-500);
}

form{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
form>div{
  width: 31%;
  margin:0 1.15%;
}

@media(max-width: 992px){
  form>div{
    width: 48%;
    margin:0 1%;
  }
}

@media(max-width: 768px){
  form{
    display: flex;
    flex-direction: column;
    flex-wrap: no-wrap;
  }

  form>div{
    width: 98%;
    margin:0 1%;
  }
}


 input[type="file"]{
    /*padding: 6px 10px; */
    background-color: var(--slate-50);
    /*border: 1px solid #d1d1d1;*/
    border-radius: 8px;
    border: none;
    box-shadow: none;
    box-sizing: border-box;
    color: #666;
    font-weight: 300;
    text-transform:capitalize;
    cursor: pointer;
  }

   @media(max-width:930px){
      input[type="file"]{
        margin-top:20px;
      }
  }


  input::file-selector-button {
    padding: 6px 10px;
    border-radius: 8px;
    border:none;
    box-shadow: rgba(110, 110, 110, 0.06) 0px 1px 3px .6px, rgba(127, 131, 135, 0.2) 0px 0px 0px .6px;
    background: linear-gradient(#fff, var(--slate-200));
    color: var(--bs-gray-700);
    text-transform: uppercase;
    cursor: pointer;
    margin-right: 20px;
    font-weight: 300;
  }

 .fileImg {
    padding: 1px;
  }



.sombra {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.header {
  background-color: white;
  padding: 16px;
  text-align: center;
  color: var(--slate-700);
}

.sectionControls {
  margin: 20px 0;
  padding: 20px;
  display: flex;
  justify-content: space-around;
}

.sectionControls > button {
  margin-right: 0 !important;
}

.rfc{
  text-transform: none!important;
}

.f{
  float: right;
  margin-top: -120px;
}

.f2{
  float: right;
  margin-top: -120px;
   margin-right: 118px!important;
}

