@import url("./assets/css/buttons.css");
@import url("./assets/css/vars.css");
@import url("./assets/css/styles.css");


html {
  background-color: var(--bg-color) !important;
}

body {
  background-color: none;
}

#root {
}

.appContariner {
  min-height: 100dvh;
  margin-top: 50px;
  background-color: var(--bg-color) !important;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  border-radius: 0px;
}

form > div > label {
  color: var(--zinc-500);
}

.sombra {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.header {
  background-color: white;
  padding: 16px;
  text-align: center;
  color: var(--slate-700);
}

.sectionControls {
  margin: 20px 0;
  padding: 20px;
  display: flex;
  justify-content: space-around;
}

.sectionControls > button {
  margin-right: 0 !important;
}

